%div
  .row
    .large-12.column.text-center
      %img{:src => "http://fakeimg.pl/120x120?text=user", :alt => ""}/
      %h5
        = link_to "http://instagram.com/" + "username" do
          = "UserName"

%div.white-bg.detail-header
  .row
    .large-4.column
      %div.text-center.medium-up-3
        %div.column-block.column.no-margin
          123 
          %br/
          Pictures
        %div.column-block.column.no-margin
          123 
          %br/
          Followers
        %div.column-block.column.no-margin
          123  
          %br/
          Following
    .large-4.column.text-center
    .large-4.column.text-center

%div.content-container
  .row

    - @months.to_a.reverse.each do |date|
      %p
        = date
    %h1 User Home

    %p
      You are logged in.
