%div
  .row
    .large-12.column.text-center
      = image_tag @current_user.image_url
      / %h5
      /   = link_to "http://instagram.com/" + "username" do
      /     = "UserName"

%div.white-bg.detail-header
  / .row
  /   .large-4.column
  /     %div.text-center.medium-up-3
  /       %div.column-block.column.no-margin
  /         123 
  /         %br/
  /         Pictures
  /       %div.column-block.column.no-margin
  /         123 
  /         %br/
  /         Followers
  /       %div.column-block.column.no-margin
  /         123  
  /         %br/
  /         Following
  /   .large-4.column.text-center
  /   .large-4.column.text-center

%div#user-content-main.content-container
  %h4.loading-status.text-center
    %strong
      Access features through texting the number below
  %h4.loading-status.text-center
    = ENV['APP_PHONE']
    #loader.loading
  .row


    / - @months.to_a.reverse.each do |date|
    /   %p
    /     = date
    / %h1 User Home

    / %p
    /   You are logged in.
