.row
  .large-12.column.text-center
    %img{:src => "http://fakeimg.pl/150x150?text=user", :alt => ""}/
    %h5
      = link_to "http://instagram.com/" + "username" do
        = "UserName"

.row
  .large-12.column.text-center
    %ul.menu
      %li
        Pictures: 123
      %li
        = " - "
      %li
        Followers: 123
      %li
        = " - "
      %li
        Following: 123 


%h1 User Home

%p
  You are logged in.
