
%header#header
  .medium-12
    .content.row
      .medium-8.column.centered
        %h1.text-center
          Welcome to CAIR-NY Check-In
        %p.text-center
          This resource is for visa holders and immigrants who have an interview scheduled with the DHS.
        %h3.text-center
          We collect:
        .row
          .medium-6.centered.column
            %ul.actions
              %li
                Your contact information
              %li
                Your emergency contact information
              %li
                Your DHS appointment details
        %h4.text-center
          If you are detained after your DHS interview, we will get in touch with your emergency contact and our legal team.

        .panel.callout.primary.text-center

          %h4
            Please give us your mobile phone number. 
          %h5
            We'll send you a text message with a code to verify your number
          
          .input-group
            %input.input-group-field{:type => "number"}/
            .input-group-button
              %input.button.large.primary{:type => "submit", :value => "Submit"}/


          %h5
            %i
              Already entered in your information via SMS? Enter your cell phone number above to update this information.