
%header#header
  .medium-12
    .content.row
      .medium-11.column.centered
        %h1.text-center
          Welcome to CAIR-NY Check-In
        .row
          .medium-7.column.centered
            %h5.text-center
              This resource is for visa holders and immigrants who have an interview scheduled with the DHS.


%header#header
  .medium-12
    .content.row
      .medium-8.column.centered

        .panel.callout.primary.text-center.text-bot

          %h4
            %strong
              Please give us your mobile phone number. 
          %h5
            We'll send you a text message with a code to verify your number
          

          = simple_form_for "", url: confirm_post_path do |f|
            .row
              .medium-8.centered.column
                .input-pad
                  = f.input_field :telephone, label: false, :type => "tel", placeholder: "123-456-7890", class: "input-group-field"
            .row
              .medium-5.centered.column
                .input-button
                  = f.button :submit, { class: "expanded button  primary", value: "Submit"}


          %h5
            %i
              Already entered in your information via SMS? Enter your cell phone number above to update this information.
        .row
          .medium-5.column
            %h3.text-center
              We collect:
          .medium-7.column
            .row
              .medium-12.centered.column
                %ul.actions
                  %li
                    Your contact information
                  %li
                    Your emergency contact information
                  %li
                    Your DHS appointment details
        .row
          .medium-5.column.centered
            %hr/
        .row
          .medium-11.centered.column
            %h4.text-center
              %strong
                If you are detained after your DHS interview, we will get in touch with your emergency contact and our legal team.