
.content.row
  .medium-8.column.centered
    .row
      .medium-5.column.text-bot
        %label{:for => ""}
          Email Address
        %input.input-group-field{:type => "text", placeholder: "name@domain.com"}/
.content.row
  .medium-8.column.centered
    .row
      .medium-6.column.text-bot
        .input-group.input-pad
          %label{:for => ""}
            Country of Origin
          %input.input-group-field{:type => "text", placeholder: "John Doe"}/
      .medium-6.column.text-bot
        .input-group.input-pad
          %label{:for => ""}
            Address (to verify your identity)
          %input.input-group-field{:type => "text", placeholder: "123 City St"}/
.content.row
  .medium-8.column.centered
    .row
      .medium-6.column.text-bot
        .input-group.input-pad
          %label{:for => ""}
            Country of Origin
          %input.input-group-field{:type => "text", placeholder: ""}/
      .medium-6.column.text-bot
        .input-group.input-pad
          %label{:for => ""}
            Immigration Status
          %input.input-group-field{:type => "text", placeholder: ""}/
.content.row
  .medium-8.column.centered
    .row
      .medium-6.column.text-bot
        .input-group.input-pad
          %label{:for => ""}
            Gender
          %input.input-group-field{:type => "text", placeholder: ""}/
      .medium-6.column.text-bot
        .input-group.input-pad
          %label{:for => ""}
            Education Level
          %input.input-group-field{:type => "text", placeholder: ""}/
.content.row
  .medium-8.column.centered
    .row
      .medium-6.column.text-bot
        .input-group.input-pad
          %label{:for => ""}
            Entry Type
          %input.input-group-field{:type => "text", placeholder: "Transportation method"}/
      .medium-6.column.text-bot
        .input-group.input-pad
          %label{:for => ""}
            Entry Date
          %input.input-group-field{:type => "date"}/
.content.row
  .medium-8.column.centered
    .row
      .medium-6.column.text-bot
        .input-group.input-pad
          %label{:for => ""}
            Last Trip Abroad Location
          %input.input-group-field{:type => "text", placeholder: "City, Country"}/
      .medium-6.column.text-bot
        .input-group.input-pad
          %label{:for => ""}
            Last Trip Abroad Date
          %input.input-group-field{:type => "date"}/