.row
  .medium-6.column.centered.text-center
    %h2 Thank you!
    %h3 We will reach out to you before your scheduled DHS interview
.content.row
  .medium-8.column.centered
    .row
      .medium-8.centered.column.text-bot
        .input-group.input-pad
          %input.input-group-field{:type => "text", placeholder: "XXXXXX"}/
          .input-group-button
            %input.button.large.primary{:type => "submit", :value => "Submit"}/
.row
  .medium-2.column.centered
    %hr/

.row
  .medium-12.column.text-center
    %h4
      Optional Survey
    %h5
      This information will help us with future advocacy.

= render 'survey'