.row
  .medium-6.column.centered.text-center
    %h2 Thank you!
    %h3 We will reach out to you before your scheduled DHS interview
    %p
      = link_to "Click revise your contact and appointment information here.", required_information_path(id: @hex)

.row
  .medium-2.column.centered
    %hr/

/ .row
/   .medium-12.column.text-center
/     %h4
/       Optional Survey
/     %h5
/       This information will help us with future advocacy.

/ = render 'survey'