//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self
//= require rails_admin
//= require foundation_and_overrides

.content-foot{
  padding-top: 30px;
  padding-bottom: 30px;
}

.controller__pages.action__home .top-bar{
  margin: 0px;
}

.logo-image{
  max-width: 150px;
}

footer {
  background-color: #1a4499;
}

footer a,
footer p,
footer li{
  color: white;
}

#preFooter {
    background-color: #6287d0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

// Core
@import "variables";
@import "foundation_and_overrides";
@import "icons_social";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";

// Plugins
@import 'nprogress';

.centered.centered{
  margin: 0 auto;
  float: none;
}

#phone-input,
#phone-input-submit{
  height: 5vh;
  display: inline-block
}

#phone-input-submit{
  width: 20%;
  float: right;
}

#phone-input{
  line-height: 5vh;
  width: 70%;
  float: left;
}

.scrollable{
  position: relative;
  height: 50vh;
  overflow-y: scroll;
}

.scrollable p{
  margin-bottom: 3px;
}

.loading-status{
  padding: 50px;
}

#loader.loading{
  min-height: 300px;
  margin-top: 50px;
}

.no-margin.no-margin{
  margin: 0px;
}

.body{
  background: #fafafa;
}

.detail-header{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dbdbdb;
}

.white-bg{
  background: white;
}

.content-container{
  background: #fafafa;
}

//
// Minor Tweaks
//

.top-bar {
  margin-bottom: 20px;
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
}

.rails_admin .navbar .nav > li {
    position: relative;
    display: inline-block;
}




.sqs-block-zola .sqs-block-content {
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in
}

.sqs-block-zola .sqs-block-content.is-rendering {
    opacity: .1
}

.sqs-block-zola .zola-block-wrapper {
    background: #fff
}

.sqs-block-zola .zola-block-wrapper.zola-block-setting-inset {
    padding: 0 20px
}

.sqs-block-acuity .sqs-block-content {
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in
}

.sqs-block-acuity .sqs-block-content.is-rendering {
    opacity: .1
}

.sqs-block-acuity .sqs-block-content iframe {
    min-height: 1000px
}

.sqs-block-acuity .sqs-block-content iframe[style] {
    min-height: 0
}

.sqs-use--icon,.sqs-use--mask {
    fill: transparent;
    -webkit-transition: fill 170ms ease-in-out;
    -moz-transition: fill 170ms ease-in-out;
    -ms-transition: fill 170ms ease-in-out;
    -o-transition: fill 170ms ease-in-out;
    transition: fill 170ms ease-in-out
}

.sqs-svg-icon--wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: background-color 170ms ease-in-out;
    -moz-transition: background-color 170ms ease-in-out;
    -ms-transition: background-color 170ms ease-in-out;
    -o-transition: background-color 170ms ease-in-out;
    transition: background-color 170ms ease-in-out;
    z-index: 0
}

.sqs-svg-icon--wrapper>div,.sqs-svg-icon--wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.social-icons-shape-circle .sqs-svg-icon--wrapper {
    border-radius: 50%
}

.social-icons-shape-rounded .sqs-svg-icon--wrapper {
    border-radius: 15%
}

.social-icons-style-border .sqs-svg-icon--wrapper {
    border: 2px solid;
    box-sizing: border-box
}

.social-icons-style-regular .sqs-svg-icon--wrapper {
    border-radius: 0
}

.social-icons-style-regular .sqs-svg-icon--wrapper>div {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2)
}

.social-icons-size-extra-small.social-icons-style-regular .sqs-svg-icon--wrapper {
    width: 16px;
    height: 16px
}

.social-icons-size-small.social-icons-style-regular .sqs-svg-icon--wrapper {
    width: 20px;
    height: 20px
}

.social-icons-size-medium.social-icons-style-regular .sqs-svg-icon--wrapper,.social-icons-size-extra-small:not(.social-icons-style-regular) .sqs-svg-icon--wrapper {
    width: 24px;
    height: 24px
}

.social-icons-size-large.social-icons-style-regular .sqs-svg-icon--wrapper,.social-icons-size-small:not(.social-icons-style-regular) .sqs-svg-icon--wrapper {
    width: 28px;
    height: 28px
}

.social-icons-size-extra-large.social-icons-style-regular .sqs-svg-icon--wrapper,.social-icons-size-medium:not(.social-icons-style-regular) .sqs-svg-icon--wrapper {
    width: 32px;
    height: 32px
}

.social-icons-size-large:not(.social-icons-style-regular) .sqs-svg-icon--wrapper {
    width: 36px;
    height: 36px
}

.social-icons-size-extra-large:not(.social-icons-style-regular) .sqs-svg-icon--wrapper {
    width: 48px;
    height: 48px
}

.social-icon-alignment-left .sqs-svg-icon--list {
    text-align: left
}

.social-icon-alignment-right .sqs-svg-icon--list {
    text-align: right
}

.social-icon-alignment-center .sqs-svg-icon--list {
    text-align: center
}

.social-icons-size-extra-small.social-icon-alignment-left .sqs-svg-icon--wrapper {
    margin: 0 6px 0 0
}

.social-icons-size-extra-small.social-icon-alignment-right .sqs-svg-icon--wrapper {
    margin: 0 0 0 6px
}

.social-icons-size-extra-small.social-icon-alignment-center .sqs-svg-icon--wrapper {
    margin: 0 3px
}

.social-icons-size-small.social-icon-alignment-left .sqs-svg-icon--wrapper {
    margin: 0 8px 0 0
}

.social-icons-size-small.social-icon-alignment-right .sqs-svg-icon--wrapper {
    margin: 0 0 0 8px
}

.social-icons-size-small.social-icon-alignment-center .sqs-svg-icon--wrapper {
    margin: 0 4px
}

.social-icons-size-medium.social-icon-alignment-left .sqs-svg-icon--wrapper {
    margin: 0 8px 0 0
}

.social-icons-size-medium.social-icon-alignment-right .sqs-svg-icon--wrapper {
    margin: 0 0 0 8px
}

.social-icons-size-medium.social-icon-alignment-center .sqs-svg-icon--wrapper {
    margin: 0 4px
}

.social-icons-size-extra-small.social-icons-style-regular.social-icon-alignment-left .sqs-svg-icon--wrapper,.social-icons-size-large.social-icon-alignment-left .sqs-svg-icon--wrapper {
    margin: 0 10px 0 0
}

.social-icons-size-extra-small.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper,.social-icons-size-large.social-icon-alignment-right .sqs-svg-icon--wrapper {
    margin: 0 0 0 10px
}

.social-icons-size-extra-small.social-icons-style-regular.social-icon-alignment-center .sqs-svg-icon--wrapper,.social-icons-size-large.social-icon-alignment-center .sqs-svg-icon--wrapper {
    margin: 0 5px
}

.social-icons-size-small.social-icons-style-regular.social-icon-alignment-left .sqs-svg-icon--wrapper,.social-icons-size-extra-large.social-icon-alignment-left .sqs-svg-icon--wrapper {
    margin: 0 12px 0 0
}

.social-icons-size-small.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper,.social-icons-size-extra-large.social-icon-alignment-right .sqs-svg-icon--wrapper {
    margin: 0 0 0 12px
}

.social-icons-size-small.social-icons-style-regular.social-icon-alignment-center .sqs-svg-icon--wrapper,.social-icons-size-extra-large.social-icon-alignment-center .sqs-svg-icon--wrapper {
    margin: 0 6px
}

.social-icons-size-medium.social-icons-style-regular.social-icon-alignment-left .sqs-svg-icon--wrapper {
    margin: 0 14px 0 0
}

.social-icons-size-medium.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper {
    margin: 0 0 0 14px
}

.social-icons-size-medium.social-icons-style-regular.social-icon-alignment-center .sqs-svg-icon--wrapper {
    margin: 0 7px
}

.social-icons-size-large.social-icons-style-regular.social-icon-alignment-left .sqs-svg-icon--wrapper {
    margin: 0 16px 0 0
}

.social-icons-size-large.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper {
    margin: 0 0 0 16px
}

.social-icons-size-large.social-icons-style-regular.social-icon-alignment-center .sqs-svg-icon--wrapper {
    margin: 0 8px
}

.social-icons-size-extra-large.social-icons-style-regular.social-icon-alignment-left .sqs-svg-icon--wrapper {
    margin: 0 18px 0 0
}

.social-icons-size-extra-large.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper {
    margin: 0 0 0 18px
}

.social-icons-size-extra-large.social-icons-style-regular.social-icon-alignment-center .sqs-svg-icon--wrapper {
    margin: 0 9px
}

.social-icons-color-black.social-icons-style-regular .sqs-use--icon {
    fill: #222
}

.social-icons-color-black.social-icons-style-regular .sqs-svg-icon--list:hover .sqs-use--icon {
    fill: rgba(34,34,34,.4)
}

.social-icons-color-black.social-icons-style-regular .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
    fill: #222
}

.social-icons-color-black.social-icons-style-border .sqs-svg-icon--wrapper {
    border-color: #222
}

.social-icons-color-black.social-icons-style-border .sqs-use--icon {
    fill: #222
}

.social-icons-color-black.social-icons-style-border .sqs-svg-icon--wrapper:hover {
    background-color: #222
}

.social-icons-color-black.social-icons-style-border .sqs-svg-icon--wrapper:hover .sqs-use--icon {
    fill: #fff
}

.social-icons-color-black.social-icons-style-knockout .sqs-use--mask {
    fill: #222
}

.social-icons-color-black.social-icons-style-knockout .sqs-svg-icon--list:hover .sqs-use--mask {
    fill: rgba(34,34,34,.4)
}

.social-icons-color-black.social-icons-style-knockout .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--mask {
    fill: #222
}

.social-icons-color-black.social-icons-style-solid .sqs-svg-icon--wrapper {
    background-color: #222
}

.social-icons-color-black.social-icons-style-solid .sqs-use--icon {
    fill: #fff
}

.social-icons-color-black.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper {
    background-color: rgba(34,34,34,.4)
}

.social-icons-color-black.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-use--icon {
    fill: rgba(255,255,255,.4)
}

.social-icons-color-black.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover {
    background-color: #222
}

.social-icons-color-black.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
    fill: #fff
}

.social-icons-color-white.social-icons-style-regular .sqs-use--icon {
    fill: #fff
}

.social-icons-color-white.social-icons-style-regular .sqs-svg-icon--list:hover .sqs-use--icon {
    fill: rgba(255,255,255,.4)
}

.social-icons-color-white.social-icons-style-regular .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
    fill: #fff
}

.social-icons-color-white.social-icons-style-border .sqs-svg-icon--wrapper {
    border-color: #fff
}

.social-icons-color-white.social-icons-style-border .sqs-use--icon {
    fill: #fff
}

.social-icons-color-white.social-icons-style-border .sqs-svg-icon--wrapper:hover {
    background-color: #fff
}

.social-icons-color-white.social-icons-style-border .sqs-svg-icon--wrapper:hover .sqs-use--icon {
    fill: #222
}

.social-icons-color-white.social-icons-style-knockout .sqs-use--mask {
    fill: #fff
}

.social-icons-color-white.social-icons-style-knockout .sqs-svg-icon--list:hover .sqs-use--mask {
    fill: rgba(255,255,255,.4)
}

.social-icons-color-white.social-icons-style-knockout .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--mask {
    fill: #fff
}

.social-icons-color-white.social-icons-style-solid .sqs-svg-icon--wrapper {
    background-color: #fff
}

.social-icons-color-white.social-icons-style-solid .sqs-use--icon {
    fill: #222
}

.social-icons-color-white.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper {
    background-color: rgba(255,255,255,.4)
}

.social-icons-color-white.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-use--icon {
    fill: rgba(34,34,34,.4)
}

.social-icons-color-white.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover {
    background-color: #fff
}

.social-icons-color-white.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
    fill: #222
}

.social-icons-color-standard.social-icons-style-border .sqs-svg-icon--wrapper:hover .sqs-use--icon,.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--wrapper .sqs-use--icon,.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
    fill: #fff
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .sqs-use--icon {
    fill: rgba(255,255,255,.4)
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--wrapper .sqs-use--mask,.social-icons-color-standard.social-icons-style-border .sqs-svg-icon--wrapper .sqs-use--mask,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--wrapper .sqs-use--icon,.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--wrapper .sqs-use--mask {
    fill: transparent
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--wrapper,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--wrapper,.social-icons-color-standard.social-icons-style-border .sqs-svg-icon--wrapper:not(:hover) {
    background-color: transparent
}

.social-icons-color-standard .fivehundredpix .sqs-use--icon,.social-icons-color-standard .fivehundredpix .sqs-use--mask {
    fill: #0099e5
}

.social-icons-color-standard .fivehundredpix {
    border-color: #0099e5;
    background-color: #0099e5
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .fivehundredpix:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .fivehundredpix:not(:hover) .sqs-use--mask {
    fill: rgba(0,153,229,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .fivehundredpix:not(:hover) {
    background-color: rgba(0,153,229,.4)
}

.social-icons-color-standard .bandsintown .sqs-use--icon,.social-icons-color-standard .bandsintown .sqs-use--mask {
    fill: #00b4b3
}

.social-icons-color-standard .bandsintown {
    border-color: #00b4b3;
    background-color: #00b4b3
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .bandsintown:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .bandsintown:not(:hover) .sqs-use--mask {
    fill: rgba(0,180,179,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .bandsintown:not(:hover) {
    background-color: rgba(0,180,179,.4)
}

.social-icons-color-standard .behance .sqs-use--icon,.social-icons-color-standard .behance .sqs-use--mask {
    fill: #1769ff
}

.social-icons-color-standard .behance {
    border-color: #1769ff;
    background-color: #1769ff
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .behance:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .behance:not(:hover) .sqs-use--mask {
    fill: rgba(23,105,255,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .behance:not(:hover) {
    background-color: rgba(23,105,255,.4)
}

.social-icons-color-standard .chownow .sqs-use--icon,.social-icons-color-standard .chownow .sqs-use--mask {
    fill: #dc5d54
}

.social-icons-color-standard .chownow {
    border-color: #dc5d54;
    background-color: #dc5d54
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .chownow:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .chownow:not(:hover) .sqs-use--mask {
    fill: rgba(220,93,84,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .chownow:not(:hover) {
    background-color: rgba(220,93,84,.4)
}

.social-icons-color-standard .codepen .sqs-use--icon,.social-icons-color-standard .codepen .sqs-use--mask {
    fill: #222
}

.social-icons-color-standard .codepen {
    border-color: #222;
    background-color: #222
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .codepen:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .codepen:not(:hover) .sqs-use--mask {
    fill: rgba(34,34,34,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .codepen:not(:hover) {
    background-color: rgba(34,34,34,.4)
}

.social-icons-color-standard .dribbble .sqs-use--icon,.social-icons-color-standard .dribbble .sqs-use--mask {
    fill: #ea4c89
}

.social-icons-color-standard .dribbble {
    border-color: #ea4c89;
    background-color: #ea4c89
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .dribbble:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .dribbble:not(:hover) .sqs-use--mask {
    fill: rgba(234,76,137,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .dribbble:not(:hover) {
    background-color: rgba(234,76,137,.4)
}

.social-icons-color-standard .dropbox .sqs-use--icon,.social-icons-color-standard .dropbox .sqs-use--mask {
    fill: #007ee5
}

.social-icons-color-standard .dropbox {
    border-color: #007ee5;
    background-color: #007ee5
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .dropbox:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .dropbox:not(:hover) .sqs-use--mask {
    fill: rgba(0,126,229,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .dropbox:not(:hover) {
    background-color: rgba(0,126,229,.4)
}

.social-icons-color-standard .email .sqs-use--icon,.social-icons-color-standard .email .sqs-use--mask {
    fill: #222
}

.social-icons-color-standard .email {
    border-color: #222;
    background-color: #222
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .email:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .email:not(:hover) .sqs-use--mask {
    fill: rgba(34,34,34,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .email:not(:hover) {
    background-color: rgba(34,34,34,.4)
}

.social-icons-color-standard .facebook .sqs-use--icon,.social-icons-color-standard .facebook .sqs-use--mask {
    fill: #3b5998
}

.social-icons-color-standard .facebook {
    border-color: #3b5998;
    background-color: #3b5998
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .facebook:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .facebook:not(:hover) .sqs-use--mask {
    fill: rgba(59,89,152,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .facebook:not(:hover) {
    background-color: rgba(59,89,152,.4)
}

.social-icons-color-standard .flickr .sqs-use--icon,.social-icons-color-standard .flickr .sqs-use--mask {
    fill: #0063dc
}

.social-icons-color-standard .flickr {
    border-color: #0063dc;
    background-color: #0063dc
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .flickr:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .flickr:not(:hover) .sqs-use--mask {
    fill: rgba(0,99,220,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .flickr:not(:hover) {
    background-color: rgba(0,99,220,.4)
}

.social-icons-color-standard .foursquare .sqs-use--icon,.social-icons-color-standard .foursquare .sqs-use--mask {
    fill: #f94877
}

.social-icons-color-standard .foursquare {
    border-color: #f94877;
    background-color: #f94877
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .foursquare:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .foursquare:not(:hover) .sqs-use--mask {
    fill: rgba(249,72,119,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .foursquare:not(:hover) {
    background-color: rgba(249,72,119,.4)
}

.social-icons-color-standard .github .sqs-use--icon,.social-icons-color-standard .github .sqs-use--mask {
    fill: #4183c4
}

.social-icons-color-standard .github {
    border-color: #4183c4;
    background-color: #4183c4
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .github:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .github:not(:hover) .sqs-use--mask {
    fill: rgba(65,131,196,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .github:not(:hover) {
    background-color: rgba(65,131,196,.4)
}

.social-icons-color-standard .goodreads .sqs-use--icon,.social-icons-color-standard .goodreads .sqs-use--mask {
    fill: #382110
}

.social-icons-color-standard .goodreads {
    border-color: #382110;
    background-color: #382110
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .goodreads:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .goodreads:not(:hover) .sqs-use--mask {
    fill: rgba(56,33,16,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .goodreads:not(:hover) {
    background-color: rgba(56,33,16,.4)
}

.social-icons-color-standard .googleplay .sqs-use--icon,.social-icons-color-standard .googleplay .sqs-use--mask {
    fill: #5adfcb
}

.social-icons-color-standard .googleplay {
    border-color: #5adfcb;
    background-color: #5adfcb
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .googleplay:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .googleplay:not(:hover) .sqs-use--mask {
    fill: rgba(90,223,203,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .googleplay:not(:hover) {
    background-color: rgba(90,223,203,.4)
}

.social-icons-color-standard .google .sqs-use--icon,.social-icons-color-standard .google .sqs-use--mask {
    fill: #dc4e41
}

.social-icons-color-standard .google {
    border-color: #dc4e41;
    background-color: #dc4e41
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .google:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .google:not(:hover) .sqs-use--mask {
    fill: rgba(220,78,65,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .google:not(:hover) {
    background-color: rgba(220,78,65,.4)
}

.social-icons-color-standard .houzz .sqs-use--icon,.social-icons-color-standard .houzz .sqs-use--mask {
    fill: #7ac143
}

.social-icons-color-standard .houzz {
    border-color: #7ac143;
    background-color: #7ac143
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .houzz:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .houzz:not(:hover) .sqs-use--mask {
    fill: rgba(122,193,67,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .houzz:not(:hover) {
    background-color: rgba(122,193,67,.4)
}

.social-icons-color-standard .imdb .sqs-use--icon,.social-icons-color-standard .imdb .sqs-use--mask {
    fill: #e6b91e
}

.social-icons-color-standard .imdb {
    border-color: #e6b91e;
    background-color: #e6b91e
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .imdb:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .imdb:not(:hover) .sqs-use--mask {
    fill: rgba(230,185,30,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .imdb:not(:hover) {
    background-color: rgba(230,185,30,.4)
}

.social-icons-color-standard .instagram .sqs-use--icon,.social-icons-color-standard .instagram .sqs-use--mask {
    fill: #e4405f
}

.social-icons-color-standard .instagram {
    border-color: #e4405f;
    background-color: #e4405f
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .instagram:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .instagram:not(:hover) .sqs-use--mask {
    fill: rgba(228,64,95,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .instagram:not(:hover) {
    background-color: rgba(228,64,95,.4)
}

.social-icons-color-standard .itunes .sqs-use--icon,.social-icons-color-standard .itunes .sqs-use--mask {
    fill: #ec4652
}

.social-icons-color-standard .itunes {
    border-color: #ec4652;
    background-color: #ec4652
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .itunes:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .itunes:not(:hover) .sqs-use--mask {
    fill: rgba(236,70,82,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .itunes:not(:hover) {
    background-color: rgba(236,70,82,.4)
}

.social-icons-color-standard .linkedin .sqs-use--icon,.social-icons-color-standard .linkedin .sqs-use--mask {
    fill: #0976b4
}

.social-icons-color-standard .linkedin {
    border-color: #0976b4;
    background-color: #0976b4
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .linkedin:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .linkedin:not(:hover) .sqs-use--mask {
    fill: rgba(9,118,180,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .linkedin:not(:hover) {
    background-color: rgba(9,118,180,.4)
}

.social-icons-color-standard .medium .sqs-use--icon,.social-icons-color-standard .medium .sqs-use--mask {
    fill: #00ab6c
}

.social-icons-color-standard .medium {
    border-color: #00ab6c;
    background-color: #00ab6c
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .medium:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .medium:not(:hover) .sqs-use--mask {
    fill: rgba(0,171,108,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .medium:not(:hover) {
    background-color: rgba(0,171,108,.4)
}

.social-icons-color-standard .meetup .sqs-use--icon,.social-icons-color-standard .meetup .sqs-use--mask {
    fill: #e0393e
}

.social-icons-color-standard .meetup {
    border-color: #e0393e;
    background-color: #e0393e
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .meetup:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .meetup:not(:hover) .sqs-use--mask {
    fill: rgba(224,57,62,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .meetup:not(:hover) {
    background-color: rgba(224,57,62,.4)
}

.social-icons-color-standard .pinterest .sqs-use--icon,.social-icons-color-standard .pinterest .sqs-use--mask {
    fill: #cc2127
}

.social-icons-color-standard .pinterest {
    border-color: #cc2127;
    background-color: #cc2127
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .pinterest:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .pinterest:not(:hover) .sqs-use--mask {
    fill: rgba(204,33,39,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .pinterest:not(:hover) {
    background-color: rgba(204,33,39,.4)
}

.social-icons-color-standard .rdio .sqs-use--icon,.social-icons-color-standard .rdio .sqs-use--mask {
    fill: #006ed2
}

.social-icons-color-standard .rdio {
    border-color: #006ed2;
    background-color: #006ed2
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .rdio:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .rdio:not(:hover) .sqs-use--mask {
    fill: rgba(0,110,210,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .rdio:not(:hover) {
    background-color: rgba(0,110,210,.4)
}

.social-icons-color-standard .reddit .sqs-use--icon,.social-icons-color-standard .reddit .sqs-use--mask {
    fill: #ff4500
}

.social-icons-color-standard .reddit {
    border-color: #ff4500;
    background-color: #ff4500
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .reddit:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .reddit:not(:hover) .sqs-use--mask {
    fill: rgba(255,69,0,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .reddit:not(:hover) {
    background-color: rgba(255,69,0,.4)
}

.social-icons-color-standard .rss .sqs-use--icon,.social-icons-color-standard .rss .sqs-use--mask {
    fill: #222
}

.social-icons-color-standard .rss {
    border-color: #222;
    background-color: #222
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .rss:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .rss:not(:hover) .sqs-use--mask {
    fill: rgba(34,34,34,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .rss:not(:hover) {
    background-color: rgba(34,34,34,.4)
}

.social-icons-color-standard .smugmug .sqs-use--icon,.social-icons-color-standard .smugmug .sqs-use--mask {
    fill: #7dbb00
}

.social-icons-color-standard .smugmug {
    border-color: #7dbb00;
    background-color: #7dbb00
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .smugmug:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .smugmug:not(:hover) .sqs-use--mask {
    fill: rgba(125,187,0,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .smugmug:not(:hover) {
    background-color: rgba(125,187,0,.4)
}

.social-icons-color-standard .snapchat .sqs-use--icon,.social-icons-color-standard .snapchat .sqs-use--mask {
    fill: #222
}

.social-icons-color-standard .snapchat {
    border-color: #222;
    background-color: #222
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .snapchat:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .snapchat:not(:hover) .sqs-use--mask {
    fill: rgba(34,34,34,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .snapchat:not(:hover) {
    background-color: rgba(34,34,34,.4)
}

.social-icons-color-standard .soundcloud .sqs-use--icon,.social-icons-color-standard .soundcloud .sqs-use--mask {
    fill: #f60
}

.social-icons-color-standard .soundcloud {
    border-color: #f60;
    background-color: #f60
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .soundcloud:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .soundcloud:not(:hover) .sqs-use--mask {
    fill: rgba(255,102,0,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .soundcloud:not(:hover) {
    background-color: rgba(255,102,0,.4)
}

.social-icons-color-standard .spotify .sqs-use--icon,.social-icons-color-standard .spotify .sqs-use--mask {
    fill: #84bd00
}

.social-icons-color-standard .spotify {
    border-color: #84bd00;
    background-color: #84bd00
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .spotify:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .spotify:not(:hover) .sqs-use--mask {
    fill: rgba(132,189,0,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .spotify:not(:hover) {
    background-color: rgba(132,189,0,.4)
}

.social-icons-color-standard .squarespace .sqs-use--icon,.social-icons-color-standard .squarespace .sqs-use--mask {
    fill: #222
}

.social-icons-color-standard .squarespace {
    border-color: #222;
    background-color: #222
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .squarespace:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .squarespace:not(:hover) .sqs-use--mask {
    fill: rgba(34,34,34,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .squarespace:not(:hover) {
    background-color: rgba(34,34,34,.4)
}

.social-icons-color-standard .stitcher .sqs-use--icon,.social-icons-color-standard .stitcher .sqs-use--mask {
    fill: #1ea9e1
}

.social-icons-color-standard .stitcher {
    border-color: #1ea9e1;
    background-color: #1ea9e1
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .stitcher:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .stitcher:not(:hover) .sqs-use--mask {
    fill: rgba(30,169,225,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .stitcher:not(:hover) {
    background-color: rgba(30,169,225,.4)
}

.social-icons-color-standard .stumbleupon .sqs-use--icon,.social-icons-color-standard .stumbleupon .sqs-use--mask {
    fill: #eb4924
}

.social-icons-color-standard .stumbleupon {
    border-color: #eb4924;
    background-color: #eb4924
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .stumbleupon:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .stumbleupon:not(:hover) .sqs-use--mask {
    fill: rgba(235,73,36,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .stumbleupon:not(:hover) {
    background-color: rgba(235,73,36,.4)
}

.social-icons-color-standard .tidal .sqs-use--icon,.social-icons-color-standard .tidal .sqs-use--mask {
    fill: #222
}

.social-icons-color-standard .tidal {
    border-color: #222;
    background-color: #222
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .tidal:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .tidal:not(:hover) .sqs-use--mask {
    fill: rgba(34,34,34,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .tidal:not(:hover) {
    background-color: rgba(34,34,34,.4)
}

.social-icons-color-standard .tumblr .sqs-use--icon,.social-icons-color-standard .tumblr .sqs-use--mask {
    fill: #35465d
}

.social-icons-color-standard .tumblr {
    border-color: #35465d;
    background-color: #35465d
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .tumblr:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .tumblr:not(:hover) .sqs-use--mask {
    fill: rgba(53,70,93,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .tumblr:not(:hover) {
    background-color: rgba(53,70,93,.4)
}

.social-icons-color-standard .twitch .sqs-use--icon,.social-icons-color-standard .twitch .sqs-use--mask {
    fill: #6441a5
}

.social-icons-color-standard .twitch {
    border-color: #6441a5;
    background-color: #6441a5
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .twitch:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .twitch:not(:hover) .sqs-use--mask {
    fill: rgba(100,65,165,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .twitch:not(:hover) {
    background-color: rgba(100,65,165,.4)
}

.social-icons-color-standard .twitter .sqs-use--icon,.social-icons-color-standard .twitter .sqs-use--mask {
    fill: #55acee
}

.social-icons-color-standard .twitter {
    border-color: #55acee;
    background-color: #55acee
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .twitter:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .twitter:not(:hover) .sqs-use--mask {
    fill: rgba(85,172,238,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .twitter:not(:hover) {
    background-color: rgba(85,172,238,.4)
}

.social-icons-color-standard .vevo .sqs-use--icon,.social-icons-color-standard .vevo .sqs-use--mask {
    fill: #ff0031
}

.social-icons-color-standard .vevo {
    border-color: #ff0031;
    background-color: #ff0031
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .vevo:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .vevo:not(:hover) .sqs-use--mask {
    fill: rgba(255,0,49,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .vevo:not(:hover) {
    background-color: rgba(255,0,49,.4)
}

.social-icons-color-standard .vimeo .sqs-use--icon,.social-icons-color-standard .vimeo .sqs-use--mask {
    fill: #1ab7ea
}

.social-icons-color-standard .vimeo {
    border-color: #1ab7ea;
    background-color: #1ab7ea
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .vimeo:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .vimeo:not(:hover) .sqs-use--mask {
    fill: rgba(26,183,234,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .vimeo:not(:hover) {
    background-color: rgba(26,183,234,.4)
}

.social-icons-color-standard .vine .sqs-use--icon,.social-icons-color-standard .vine .sqs-use--mask {
    fill: #00b488
}

.social-icons-color-standard .vine {
    border-color: #00b488;
    background-color: #00b488
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .vine:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .vine:not(:hover) .sqs-use--mask {
    fill: rgba(0,180,136,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .vine:not(:hover) {
    background-color: rgba(0,180,136,.4)
}

.social-icons-color-standard .vsco .sqs-use--icon,.social-icons-color-standard .vsco .sqs-use--mask {
    fill: #ae995a
}

.social-icons-color-standard .vsco {
    border-color: #ae995a;
    background-color: #ae995a
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .vsco:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .vsco:not(:hover) .sqs-use--mask {
    fill: rgba(174,153,90,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .vsco:not(:hover) {
    background-color: rgba(174,153,90,.4)
}

.social-icons-color-standard .yelp .sqs-use--icon,.social-icons-color-standard .yelp .sqs-use--mask {
    fill: #c41200
}

.social-icons-color-standard .yelp {
    border-color: #c41200;
    background-color: #c41200
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .yelp:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .yelp:not(:hover) .sqs-use--mask {
    fill: rgba(196,18,0,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .yelp:not(:hover) {
    background-color: rgba(196,18,0,.4)
}

.social-icons-color-standard .youtube .sqs-use--icon,.social-icons-color-standard .youtube .sqs-use--mask {
    fill: #e52d27
}

.social-icons-color-standard .youtube {
    border-color: #e52d27;
    background-color: #e52d27
}

.social-icons-color-standard.social-icons-style-regular .sqs-svg-icon--list:hover .youtube:not(:hover) .sqs-use--icon,.social-icons-color-standard.social-icons-style-knockout .sqs-svg-icon--list:hover .youtube:not(:hover) .sqs-use--mask {
    fill: rgba(229,45,39,.4)
}

.social-icons-color-standard.social-icons-style-solid .sqs-svg-icon--list:hover .youtube:not(:hover) {
    background-color: rgba(229,45,39,.4)
}

.sqs-block-markdown {
    clear: none
}

.sqs-block-markdown .sqs-block-content {
    position: relative
}

.sqs-block-markdown .sqs-block-content *:first-child {
    margin-top: 0
}

.sqs-block-markdown .sqs-block-content *:last-child {
    margin-bottom: 0
}

.sqs-block-markdown .sqs-placeholder {
    color: #999
}

.sqs-block-markdown .sqs-editing-overlay {
    display: none
}
