//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self
//= require rails_admin
//= require foundation_and_overrides

.vertical-pad{
  margin-top: 2em;
}

.vertical-pad{
  margin-top: 3vh;
}

.top-bar{
    background-color: #eff1f5;
    margin-bottom: 30px;
}

.primary-text{
  color: #284079;
  font-weight: 700;
}

footer .row.content-foot *{
  opacity: .9
}

.phone-image{
  max-width: 130px;
  -ms-transform: rotate(-15deg);
  -webkit-transform:rotate(-15deg);
  transform: rotate(-15deg);
}

.content-foot{
  padding-top: 30px;
  padding-bottom: 30px;
}

.controller__pages.action__home .top-bar{
  margin: 0px;
}

.logo-image{
  max-width: 150px;
}

footer {
  background-color: #1a4499;
}

footer a,
footer p,
footer li{
  color: white;
}

#preFooter {
    background-color: #6287d0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

// Core
@import "variables";
@import "foundation_and_overrides";
@import "icons_social";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";

// Plugins
@import 'nprogress';

.centered.centered{
  margin: 0 auto;
  float: none;
}

#phone-input,
#phone-input-submit{
  height: 5vh;
  display: inline-block
}

#phone-input-submit{
  width: 20%;
  float: right;
}

#phone-input{
  line-height: 5vh;
  width: 70%;
  float: left;
}

.scrollable{
  position: relative;
  height: 50vh;
  overflow-y: scroll;
}

.scrollable p{
  margin-bottom: 3px;
}

.loading-status{
  padding: 50px;
}

#loader.loading{
  min-height: 300px;
  margin-top: 50px;
}

.no-margin.no-margin{
  margin: 0px;
}

.body{
  background: #fafafa;
}

.input-pad{
  margin-top: 30px;
  margin-bottom: 30px;
}

.detail-header{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dbdbdb;
}

.white-bg{
  background: white;
}

.content-container{
  background: #fafafa;
}

.text-bot .input-group-field,
.text-bot .input-group-button input{
  height: 3.08333rem;
}
.text-bot input{
  font-size: 110%;
  text-align: center;
}
.text-bot.callout{
    margin-top: 30px;
    margin-bottom: 40px;
}

//
// Minor Tweaks
//

.top-bar.top-bar.top-bar {
  margin-bottom: 20px;
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
}

.rails_admin .navbar .nav > li {
    position: relative;
    display: inline-block;
}

