//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self
//= require rails_admin
//= require foundation_and_overrides


// Core
@import "variables";
@import "foundation_and_overrides";
@import "icons_social";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";

// Plugins
@import 'nprogress';

#phone-input,
#phone-input-submit{
  height: 5vh;
  display: inline-block
}

#phone-input-submit{
  width: 20%;
  float: right;
}

#phone-input{
  line-height: 5vh;
  width: 70%;
  float: left;
}

.scrollable{
  position: relative;
  height: 50vh;
  overflow-y: scroll;
}

.scrollable p{
  margin-bottom: 3px;
}

.loading-status{
  padding: 50px;
}

#loader.loading{
  min-height: 300px;
  margin-top: 50px;
}

.no-margin.no-margin{
  margin: 0px;
}

.body{
  background: #fafafa;
}

.detail-header{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dbdbdb;
}

.white-bg{
  background: white;
}

.top-bar{
  border-bottom: 1px solid #dbdbdb;
}

.content-container{
  background: #fafafa;
}

//
// Minor Tweaks
//

.top-bar {
  margin-bottom: 20px;
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
}

.rails_admin .navbar .nav > li {
    position: relative;
    display: inline-block;
}