%footer.page__footer.text-center
  .medium-8.column.centered
    %ul.menu.expanded
      %li
        %h5
          %strong
            = link_to 'About Cair-NY', about_path
      %li
        %h5
          %strong
            = link_to 'Frequently Asked Questions', faq_path
