
%footer.page__footer.text-center
  #preFooter.content-foot
    .medium-8.column.centered
      %ul.menu.expanded
        %li
          %h5
            %strong
              = link_to 'About Cair-NY', about_path
        %li
          %h5
            %strong
              = link_to 'Frequently Asked Questions', faq_path

  .row.content-foot
    .medium-12.column.centered.text-center
      %p{style: "margin-bottom: 0px;"}
        Council On American-islamic Relations 
        %br/
        46-01 20th Avenue, Queens, Ny, 11105, United States 
        %br/
        %a{:href => "tel:6466657599", style: "padding-top: 0px;"}
          (646) 665-7599
        %span
          • 
        %a{:href => "mailto:INFO@NY.CAIR.COM", style: "padding-top: 0px;"}
          INFO@NY.CAIR.COM
    .medium-4.column.centered
      %hr/
    .medium-12.column.centered
      %p
        Copyright© 2016, Council on American-Islamic Relations (CAIR) New York. All rights reserved. 
        %br/
        CAIR® is a registered trademark.
